Package: libxerces-c
Version: 2.7.0-1
Architecture: arm
Maintainer: Gordon Maclean <maclean@ucar.edu>
Depends: libc6 (>= 2.3.3-1), zlib1 (>= 1.1.4-2)
Source: xerces-c
Description: Apache Xerces C++ library
