Package: rsync
Version: 2.6.8-1
Section: utils
Priority: important
Architecture: arm
Essential: no
Depends:
Pre-Depends:
Recommends: openssh-clients, openssh-server
Suggests:
Installed-Size:
Maintainer: Gordon Maclean <maclean@ucar.edu>
Provides: rsync
Description: rsync package
