#
# $Log: ops.config,v $
# Revision 1.2  2004/12/08 02:51:35  maclean
# *** empty log message ***
#
# Revision 1.1  2004/11/16 18:45:20  maclean
# *** empty log message ***
#
# first TRAM tests at FLAB, copied from DEVEL/tram
ops0	2003 sep 1 00:00:00 - 2003 dec 31 00:00:00
# second version of tram (FLAB); also add fixed (Como Creek)
ops1	2005 sep 1 00:00:00 - 2006 dec 31 23:59:59
# next version of tram, using RFID (FLAB)
ops2	2007 jan 1 00:00:00 - 2008 dec 31 00:00:00
