Package: ntpd
Version: 4.2.4-1
Section: admin
Architecture: arm
Maintainer: maclean <maclean@ucar.edu>
Depends: libc6 (>= 2.3.3-1), libelf0 (>= 0.8.5-1)
Source: ntp
Description: Daemon for full NTP v4 timekeeping participation.
 The Network Time Protocol allows for the synchronization of clocks on
 networked computers.  The ntpd daemon implements NTP, allowing Unix
 systems to participate in this synchronization.
 .
 NTP was designed with attention to details which might introduce
 systematic bias into the computations, and the protocol is capable of
 synchronizing with even the most precise external time sources.
 .
 4.2.0-1 from Arcom only contained ntpd executable.  This version
 adds ntpq and others, and has the PPS api patches.
