Package: diamond
Version: 1.1
Architecture: arm
Maintainer: Gordon Maclean <maclean@ucar.edu>
Depends: 
Source: diamond
Description: Package of support for pc104 cards from Diamond Systems Corp:
  MM-AT analog cards.
