NOSETMP : has about 17 degree C peak-to-peak oscillation at about 170 Hz
          with another slower peak-to-peak oscillation of 2.5 degree C
          with a period that varies from 4 minutes to about 2 minutes.

PITCH_I1 - PITCH_I2 : shows some shifts that occur at when the aircraft
          rolls!  This is in addition to a constant difference of about
          0.29 degrees.  (See 17:12Z, 17:23Z and 17:28Z.)

ROLL_I1 - ROLL_I2 : shows an offset of about 0.23 degrees with greater
          differences during the pitch maneuvers.

THDG_I1 - THDG_I2 : shows an offset of about 0.3 degrees along with some
          shifts that occur at when the aircraft rolls.


TKAT_I1 and TKAT_I2 : has an 180-degree offset from its true value due to
          processing problem.

