body {
	font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #222;
	background: #fff;
	margin: 0px;
}

#map { width: 100%; height: 100%; }

#pform_label { font-size: 35px; padding-right:3px; }
#pform_label_h { font-size: 35px; font-weight: bold; margin-right:3px; }
#pformDialog { 
	margin-top: 12px;
	background-color:#f0f0f0;
	border: 1px dotted #808080;
	display:none;
	position:absolute;
	padding: 5px;
	z-index: 1003;
}

#oSlider{ width: 125px; margin: -15px auto 0 auto; display:none; }

#kDescription { font-weight: bold; }

#dataBak { 
	width: 100%;
	bottom: 0;
	background: url('/flight_data/display/sbar.png') repeat-x #eaeaea;
	border-top: 1px solid #808080;
 }
#data { 
	height: 15px;
	color: #001;
}
#data td.w250 { width: 250px; }

#debug div {width: 810px; height: 50px;}
#debug img {float: left;}

#menu span.menuLabel { 
	display: none;
	position:absolute;
	color:#fff;
	background: #666; 
	margin: 5px 0 0 -1px;
	padding: 7px;
	border-bottom: 2px solid #888;
}
#menu td { font-weight: bold; cursor: pointer; padding-bottom: 2px; }
#menu td:active { padding: 2px 0 0 2px; }
#menu td.x {cursor: auto;}

#menu td img { vertical-align:middle; }
#menu { 
	top: 0; 
	left: 50%;
	width: 550px;
	margin: 0 0 0 -275px;
	border: 1px solid #808080;
	border-top: none;
	background: url('/flight_data/display/topbar.png') repeat-x;
}

.bar {
	z-index: 1002;
	position: absolute;
	padding: 0;
	background-color:#f0f0f0;
}

/*.bar, div.greybx { filter:alpha(opacity=92); opacity:0.92; }*/
.bar td { font-size: 14px; }
.bar td.nob {border:none;}
.bar td span { font-weight: bold; margin-left: 5px; }
span.greentop { color: #080; margin-left: 0px; }
span.bluetop { color: #009;  margin-left: 0px; }

div.detail_hidden {display:none;}
div.detail {
	z-index: 1001;
	position: absolute;
	bottom: 22px;
	right: 0px;
	font-size: 13px;
	padding: 10px;
	background-color:#f0f0f0;
	border: 1px dotted #808080;
}

/*some generic styles*/
div.greybx {
	position: absolute;
	top: 80px;
	left: 10px;
	font-size: 15px;
	padding: 10px;
	background-color:#f0f0f0;
	border: 2px solid #888;
}
div.fl {float:left;}
div.fr {float:right;}
img.bu { margin: 3px; height: 30px; }

/*table style for platform table */
form { margin: 0; }
form table {
	margin: 0;
	width: 100%;
	border-collapse: collapse;
}
form table th {
	text-align: left;
	background: #E5F9FF;
	font-size: 14px;
	border-bottom: 2px solid #AAA;
}
form table td {
	background: #FFF;
	border-bottom: 1px solid #AAA;
	border-left: 1px dotted #AAA;
}
form div.fr { display:none; } 

#dpadtable td div {margin-left: auto; margin-right:auto;}
#dpadtable td div:hover { background-color: #666; }

.ui-effects-transfer {
	z-index:1005;
	background-color:#f0f0f0;
	border: 1px dotted #808080;
	filter:alpha(opacity=65); opacity:0.65;
}
.below {z-index:-10; display:inline;}
.above {z-index:1001; display:inline;}
.nodisp {display:none;}

/*icons from sprite*/
div.icon_arrow_g { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -24px; }
div.icon_arrow_r { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -120px -24px;}
div.icon_move { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -120px;}
div.icon_move_red { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -120px -120px;}
div.icon_arrow_up { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -120px -216px;}
div.icon_arrow_right { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -120px -312px;}
div.icon_arrow_left { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -120px -408px;}
div.icon_cam { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -216px;}
div.icon_opac { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -312px;}
div.icon_mag_m { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -408px;}
div.icon_mag_p { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -504px;}
div.icon_question { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -600px;}
div.icon_plane { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -696px;}
div.icon_ruler { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 48px; background-position: -24px -792px;}
div.icon_slider { background-image: url('/flight_data/display/sprite.png'); width: 48px; height: 54px; background-position: -24px -888px;}


#helpDialog h3 {
	background: #222;
	color: #fff;
	border-top: 4px solid #888;
	border-bottom: 4px solid #888;
	font-size: 26px;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
}
#helpDialog div, #pform_label_h {
	float:left;
	margin-right: 15px;
}
#helpDialog div.item, #helpDialog ul {
	float: none;
	min-height: 50px;
	padding: 15px;
	background: #a3c5e2;
	border: 2px solid #888;
	margin: 10px;	
	font-size: 13px;
}
#helpDialog div.item b { font-size: 14px; }
#helpDialog ul { list-style-type: circle; list-style-position:inside; }
#helpDialog li { padding-bottom: 5px; }
