[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Icon=/usr/share/icons/gnome/scalable/categories/applications-science-symbolic.svg
Name=Launch Push HOLODEC
Exec=sh -c "/home/local/Systems/scripts/push_holodec.py; sleep 5000"
