#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sh -c "source ~/.bashrc; /usr/bin/python /home/local/projects/scripts/data_flow/push_data.py; bash " 
Name=push_data
Icon=/home/local/projects/scripts/desktop_icons/desktop-computer-screen-with-flash-drive-symbol.svg
