
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[C]=AutoCal
Exec=/opt/nidas/bin/auto_cal
Icon[C]=/usr/share/pixmaps/gnome-ccperiph.png
Name=AutoCal
Icon=/usr/share/pixmaps/gnome-ccperiph.png
