
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[C]=Analog Card Diagnostic Tool
Exec=/opt/nidas/bin/auto_cal
Icon[C]=/usr/share/pixmaps/gnome-ccperiph.png
Name=Analog Card Diagnostic Tool
Icon=/usr/share/pixmaps/gnome-ccperiph.png
