
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[C]=ConfigEditor
Exec=/home/local/nidas/src/nidas/apps/config/configview
Icon[C]=/usr/share/pixmaps/gnome-ccmime.png
Name=ConfigEditor
Icon=/usr/share/pixmaps/gnome-ccmime.png
