#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[C]=/
Name[C]=nimbus
Exec=/home/local/Systems/scripts/launch_nimbus_rt
Name=nimbus
Icon=/usr/share/icons/gnome/scalable/actions/start.svg
