
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[C]=/usr/share/icons/gnome/scalable/actions/start.svg
Name[C]=Start Iridium Blue
Exec=gnome-terminal -e "/home/local/Systems/scripts/start_iridium_blue.csh" -t "SATCOM - Iridium Startup"
Name=Start Iridium
Icon=/usr/share/icons/gnome/scalable/actions/start.svg
