#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[C]=/usr/share/icons/gnome/scalable/actions/start.svg
Name[C]=Start Data Acq
Exec=/home/local/Systems/scripts/start_data_acq
Name=Start Data Acq
Icon=/usr/share/icons/gnome/scalable/actions/start.svg
