
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[C]=/usr/share/icons/gnome/scalable/actions/start.svg
Name[C]=Stop Iridium
Exec=/home/local/Systems/scripts/shutdown_iridium
Name=Stop MPDS
Icon=/usr/share/icons/oxygen/64x64/actions/system-shutdown.png
