#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[C]=/usr/share/icons/gnome/scalable/actions/start.svg
Name[C]=Stop Data Acq
Exec=/home/local/Systems/scripts/stop_data_acq
Name=Stop Data Acq
Icon=/usr/share/icons/oxygen/64x64/actions/system-shutdown.png
