body
{
	padding: 20px;
}

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	text-align: left;
}
table th
{
	font-size: 14px;
	font-weight: bold;
	color: #267;
	padding: 1px;
	border-bottom: 2px solid #48A;
}
table td
{
	border-bottom: 1px solid #ccc;
	color: #333;
	padding: 3px 15px 1px 1px;
}
table td.message {
	width: 350px;
}

.ui-selecting
{
	background-color: #E6FAFF
}

.ui-selected {background: #CDE;}

.status-started {
	font-weight: bold;
	color: green;
}

.status-stopped {
	font-weight: bold;
	color: red;
}

.ui-icon {
	float: left;
	margin: 0px;
}

button.ui-state-default {
	color: #222;
}
