#
# adapted from http://trackless.ca/2015/12/21/docker-compose-meets-systemd/
#

#
# deploy to /etc/systemd/system/irc-bot.service
# enable:
#   systemctl enable irc-bot.service
# start:
#   systemctl start irc-bot.service

[Unit]
Description=IRC Bot, Managed by Docker Compose
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10
User=catalog
WorkingDirectory=/home/catalog/irc-bot

ExecStartPre=-/usr/bin/docker-compose kill
ExecStartPre=-/usr/bin/docker-compose rm
ExecStartPre=-/usr/bin/docker-compose rm -f

ExecStart=/bin/bash --login -c '/usr/bin/docker-compose up --force-recreate'

ExecStop=/usr/bin/docker-compose stop

NotifyAccess=all

[Install]
WantedBy=multi-user.target
