[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/local/projects/GOTHAAM/C130_N130AR/scripts/shutdown_camera_server.sh
Name=Shutdown Camera Server
Icon=/usr/share/icons/oxygen/64x64/actions/system-shutdown.png
