body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #222;
    background: #fff;
    margin: 0px;
}

#map {
	width: 100%;
	height: 100%;
}

#options {
	z-index: 1000;
	position: absolute;
	bottom: 0px;
        background-color:#f0f0f0;
        border: 1px dotted #808080;
	padding: 2px;
	width: 180px;
}

#options p {
	font-size: 14px;
	margin: 1px 2px 3px 5px;
}
#options p span {
	font-weight: bold;
	margin-left: 15px;
}
#options p span.greentop { color: #080; margin-left: 5px; }
#options p span.bluetop { color: #009;  margin-left: 5px; }

div.detail_hidden {display:none;}
div.detail {
	z-index: 1001;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 13px;
	/*float:right;*/
	padding: 10px;
        background-color:#f0f0f0;
        border: 1px dotted #808080;
}

#kDescription {
	font-weight: bold; 
}
